<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.openfire.plugin.SUJoinPlugin</class>
    <name>SUJ Join / Mediline</name>
    <description>Allows administration of users via HTTP requests.</description>
    <author>Daniel Pereira</author>
    <version>0.1.0</version>
    <date>09/04/2014</date>
    <minServerVersion>3.9.0</minServerVersion>
    
    <adminconsole>		
        <tab id="tab-server">
            <sidebar id="sidebar-server-settings">
                <item id="sujoin-service" name="SUJ Join" url="sujoin-service.jsp"
                     description="Click to manage the service that allows remote admin of users for JOIN" />
            </sidebar>
        </tab>
    </adminconsole>

</plugin>
